/* Remove default spacing */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E3DBBB; /* Page background */
}

/* Navbar */


.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-weight: 500;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}
.nav-links ul li a{
    color: grey;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li:hover{
    background: brown;
}

/* Center container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 80px; /* space for fixed navbar */
}

/* Form styling */
form {
    width: 350px;
    background-color: #F8F3E1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

 /* Registration Heading */
 form h2 {
    
    text-align: center;
    margin-bottom: 20px;

} 

/* Labels */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Inputs */
form input,
form select,
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Register Button */
form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Light brown hover */
form button:hover {
    background-color: #C4A484;
}